[submodule "private/ci-thirdparty"]
	path = private/ci-thirdparty
	url = https://github.com/skycomic-org/ci-thirdparty.git
[submodule "private/ci-core"]
	path = private/ci-core
	url = https://github.com/skycomic-org/CodeIgniter.git
	branch = 2.2-stable
[submodule "private/mediawiki-1.15.4"]
	path = private/mediawiki-1.15.4
	url = https://github.com/skycomic-org/mediawiki.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/skycomic-org/skycomic.org-frontend.git
