RewriteEngine on

# folders

RewriteCond $1 ^(files|image|js|css)\/ [OR]
RewriteCond $1 ^(robots\.txt|favicon\.ico)$
RewriteRule ^(.*)$ /frontend/dist/$1 [L]

RewriteCond $1 !^(index\.php|frontend\/|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]
