RewriteEngine on

# folders

RewriteCond $1 ^(files|image|js|css|img)\/ [OR]
RewriteCond $1 ^(robots\.txt|favicon\.ico)$
RewriteRule ^(.*)$ /public/$1 [L]

RewriteCond $1 !^(index\.php|public\/|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]
