<div>
	<h3>為什麼你需要贊助？</h3>
	<p>因為SkyComic是一個網站，一個網站要營運有一些固定的成本</p>
	<h3>像是什麼？</h3>
	<p>skycomic.org這個hostname每年要繳一次費用、營運網站的伺服器也是每個月要繳一筆</p>
	<h3>為什麼其他網站不用？</h3>
	<p>因為其他網站有廣告收入，本站目前還沒有大到可以賣廣告位置賺錢QQ，google adsense也被ban了...(google很愛亂ban人)</p>
	<h3>你要我捐給你多少？</h3>
	<p>NT$60的倍數都可以，你可以用購買數量去控制要捐多少</p>
	<h3>不是很想捐耶，可以不要嗎？</h3>
	<p>當然可以！捐款本來就是想捐再捐的，如果你覺得這個網站做的還不錯，站長還算用心的話再捐XD</p>
	<h3>不會用paypal耶，還要註冊？</h3>
	<p>其實不用註冊，可以直接用信用卡刷，點「結帳->沒有paypal帳戶」就可以用信用卡囉！</p>

	<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="FEYRDDPAVD8G2">
		<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal － 更安全、更簡單的線上付款方式！">
		<img alt="" border="0" src="https://www.paypalobjects.com/zh_TW/i/scr/pixel.gif" width="1" height="1">
	</form>
</div>